<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
<div class="container">
  <h2>Add Student</h2>

  <form method="POST" action="/api/add">
      <label> Name </label>
      <input type="text" name="name">
      <br>
      <label> Height </label>
      <input type="text" name="height">
      <br>
      <label> Weight </label>
      <input type="text" name="weight">
      <br>
      <label> Hair </label>
      <input type="text" name="hair">
      <br>
      <label> GPA </label>
      <input type="text" name="gpa">
      <br>
      <input type="submit" value="Submit">
  </form>

  <h2>Students</h2>

  <table style="width:100%">
    <tr>
      <th>User ID</th>
      <th>Name</th> 
      <th>Height</th>
      <th>Weight</th>
      <th>Hair</th>
      <th>GPA</th>
      <th>Delete</th>
    </tr>
    <tr>
      <% students.forEach(function(user) { %>
        <form action="/api/update/" >
          <td><input type="text" name="id" value="<%= user.id %>"></td>
          <td><input type="text" name="name" value="<%= user.name %>"></td>
          <td><input type="text" name="height" value="<%= user.height %>"></td>
          <td><input type="text" name="weight" value="<%= user.weight %>"></td>
          <td><input type="text" name="hair" value="<%= user.hair %>"></td>
          <td><input type="text" name="gpa" value="<%= user.gpa %>"></td>
          <input type="submit" value="Submit">
        </form>
      
      <% }) %>

    </tr>
  </table>

</div>


</body>
</html>
